@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* 
{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    color: white;
}

.content input {
    color: white;
}

.content button {
    color: black;
}

.content h1 {
    font-size: 8em;
    color: rgb(255, 85, 0);
}

/* Add this new class for styling the diagnosis output */
.content .diagnosis {
    margin-top: 1rem;
    font-size: 2em; /* Adjust the font size as needed */
    color: rgb(0, 255, 0); /* Change color to green for visibility */
}